services:
  # DATABASE
  neo4j:
    image: neo4j:5.15.0
    container_name: foodon_neo4j
    ports:
      - "7474:7474"
      - "7687:7687"
    volumes:
      - ./database/neo4j-docker/data:/data
      - ./database/neo4j-docker/plugins:/plugins
      - ./database/neo4j-docker/import:/import
      - ./database/neo4j-docker/logs:/logs
      - ./database/neo4j-docker/conf:/conf
    environment:
      - NEO4J_AUTH=${NEO4J_USER}/${NEO4J_PASSWORD}
      - NEO4J_PLUGINS=["apoc"]
      - NEO4J_dbms_security_procedures_allowlist=n10s.*,apoc.*,gds.*
      - NEO4J_dbms_security_procedures_unrestricted=n10s.*,apoc.*,gds.*
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider localhost:7474 || exit 1"]
      interval: 10s
      timeout: 10s
      retries: 20
      start_period: 30s

  # IMPORTER
  setup_importer:
    profiles: ["init"]
    build: ./database/setup
    container_name: foodon_importer
    restart: "no"
    volumes:
      - ./database/import/foodon-full.owl:/app/data/foodon-full.owl
    environment:
      - NEO4J_URI=bolt://neo4j:7687
      - NEO4J_USER=${NEO4J_USER}
      - NEO4J_PASSWORD=${NEO4J_PASSWORD}
      - ONTO_PATH=/app/data/foodon-full.owl
    depends_on:
        neo4j:
          condition: service_healthy

  # BACK-END SERVER
  backend:
    build: ./server
    container_name: scallergen_backend
    restart: always
    ports:
      - "8000:8000"
    environment:
      - NEO4J_URI=bolt://neo4j:7687
      - NEO4J_USER=${NEO4J_USER}
      - NEO4J_PASSWORD=${NEO4J_PASSWORD}
    depends_on:
      neo4j:
        condition: service_healthy

  # NGROK
  ngrok:
    image: ngrok/ngrok:latest
    container_name: scallergen_ngrok
    restart: unless-stopped
    command:
      - "http"
      - "backend:8000"
    environment:
      - NGROK_AUTHTOKEN=${NGROK_AUTHTOKEN}
    ports:
      - "4040:4040"
    depends_on:
      - backend